/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6c349;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 25px;
    position: relative;
    
}

.navbar-logo img {
    height: 72px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu li a {
    color: #f6c349;
    text-decoration: none;
    font-size: 20px;
    padding: 0 15px;

}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #f6c349;
    margin: 2px 0;
}


/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: black;
    color: #f6c349;
    border-radius: 10px;
    margin: 12px;
    text-align: center;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card h3 {
    margin-top: 10px;
    font-size: 32px;
}

.card .price {
    font-family: 'Courier New', Courier, monospace, bold;
    font-size: 32px;
    color: white;
}

.card .description {
    font-size: 18px;
    background-color: #f6c349;
    border-radius: 10px;
    color: black;
    padding: 10px;
    text-align: justify;
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content:center ;
    padding: 10px 0 30px 0;
}
.footer a {
    color: #f6c349;
    text-decoration: none;

}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 128px; /* Ajusta según la altura del navbar */
        left: 0;
        padding: 10px 0;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 10px 0;
        text-align: left;
        padding-left: 20px;
    }

    .navbar-toggle {
        display: flex;
    }

    .card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

.titulo {
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: 42px;
}